* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #14120b;
  font-family: "CursorGothic";
  color: white;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url("assets/fonts/CursorGothic-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url("assets/fonts/CursorGothic-Italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
}

.nav-left,
.nav-center,
.nav-right {
  margin-top: 1rem;
}

.navbar,
.nav-center {
  display: flex;
  justify-content: space-between;
}

.nav-left {
  margin-left: 1rem;
  cursor: pointer;
}

.nav-center {
  gap: 2rem;
  margin-left: 5rem;
}

.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  color: #14120b;
  height: 52px;
  z-index: 1000;
}

.navbar p {
  font-size: 14px;
  cursor: pointer;
  color: #ededed;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 2.25rem;
  gap: 10px;
  margin-top: -3px;
}

.signin-btn {
  border: 1px solid #4d4d4d;
  border-radius: 25px;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.download-btn {
  border: none;
  color: black;
  background-color: #ededed;
  padding: 5px 10px;
  width: 87px;
  height: 27px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.first-img {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-top: 7rem;
}

.first-img h1 {
  font-size: 26px;
  color: #ededed;
  font-weight: 300;
  margin-bottom: 2rem;
}

.long-download-btn {
  border: none;
  color: black;
  background-color: #ededed;
  padding: 5px 10px;
  width: 14rem;
  height: 44px;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 3rem;
  cursor: pointer;
}

.first-img img {
  border-radius: 5px;
}

.grid-container p {
  text-align: center;
  margin-top: 2.25rem;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 2rem;
}

.box {
  width: 153px;
  height: 100px;
  background-color: #1b1913;
  border: 1px solid #201e19;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.box img {
  width: 5rem;
  background-color: #1b1913;
}

.similar-boxes {
  display: flex;
  margin: 2rem;
  margin-top: 7rem;
  width: 1300px;
  height: 715px;
  background-color: #1b1913;
  border: 1px solid #201e19;
  border-radius: 5px;
}

.similar-text,
.similar-text h2,
.similar-text p,
.similar-text button {
  background-color: #1b1913;
}

.similar-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.similar-text :nth-child(1) {
  color: #ededed;
  font-weight: 300;
  font-size: 22px;
}

.similar-text :nth-child(2) {
  margin-bottom: 1rem;
  color: #999896;
  font-weight: 300;
  font-size: 22px;
}

.similar-text button {
  border: none;
  text-align: left;
  color: #f54e00;
  font-size: 16px;
  cursor: pointer;
}

.similar-img {
  background-color: #1b1913;
  display: flex;
  justify-content: center;
  align-items: center;
}

.similar-img img {
  margin-left: 5rem;
  border-radius: 5px;
  width: 51rem;
  align-self: center;
  border: 1px solid #201e19;
}

.third-img img {
  width: 55rem;
  margin-left: 8px;
}

.fourth-img img {
  height: 43rem;
  margin-right: 10px;
}

.build-software-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #ededed;
}

.build-software-text h1 {
  font-weight: 200;
}

.user-card {
  display: flex;
  flex-direction: column;
  width: 426px;
  height: 240px;
  border: 1px solid #201e19;
  padding: 1rem;
  border-radius: 5px;
}

.user-card,
.user-pic,
.user-card p,
.user-name {
  background-color: #1b1913;
  color: #ededed;
  font-weight: 100;
}

.user-pic-container {
  background-color: #1b1913;
  display: flex;
  margin-top: auto;
  gap: 1rem;
}

.user-pic img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.user-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
}

.user-name :nth-child(2) {
  color: #999896;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.75rem;
  column-gap: 0.75rem;
}

.users-box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.user-testimonial p {
  font-weight: 200;
  color: #ededed;
}

.stay-section {
  margin-top: 8rem;
  padding: 1.5rem;
}

.stay-text h2 {
  margin-bottom: 1.25rem;
  font-weight: 300;
  color: #ededed;
}

.stay-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.stay-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 426px;
  height: 553px;
  background-color: #1b1913;
  border: 1px solid #201e19;
  border-radius: 5px;
}
.stay-text-box {
  background-color: #1b1913;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

.stay-text-box p {
  background-color: #1b1913;
  color: #ededed;
  font-weight: 100;
}

.stay-text-box :nth-child(2) {
  color: #999896;
}

.stay-card img {
  width: 391px;
  height: 391px;
}

.stay-btn {
  border: none;
  background-color: #1b1913;
  color: #f54e00;
  align-self: flex-start;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: -4px;
  font-size: 16px;
}

.tilted-arrow {
  background-color: #1b1913;
  color: #f54e00;
  display: inline-block;
  transform: rotate(-45deg);
}

.changelog-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  height: 120px;
  background-color: #1b1913;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #201e19;
}

.changelog-box p {
  background-color: #1b1913;
}

.changelog-box :nth-child(1) {
  color: #999896;
}

.changelog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.changelog-btn {
  border: none;
  color: #f54e00;
  align-self: flex-start;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: -4px;
  font-size: 16px;
}

.changelog-section {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 1.5rem;
}

.changelog-text {
  font-weight: 100;
  color: #ededed;
  font-size: 25px;
}

.career-box {
  width: 1300px;
  height: 507px;
}

.career-img {
  height: auto;
  padding: 15px;
}

.recent-highlights {
  display: flex;
  /* justify-content: center; */
  background-color: #1b1913;
  width: 100%;
  height: 685px;
  display: flex;
  margin-top: 5rem;
}

.recent-highlights-text,
.recent-highlights-text p,
.more-posts-btn-box {
  background-color: #1b1913;
}
.recent-highlights-text {
  position: relative;
  margin-left: 1.2rem;
}

.recent-highlights-text p {
  position: sticky;
  top: 70px;
  margin-top: 5rem; ;
}

.highlights-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin-left: auto;
  margin-right: 25%;
  background-color: #1b1913;
  padding-top: 6rem;
  gap: 12px;

}

.highlights-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 650px;
  height: 146px;
  background-color: #201e18;
  border: 2px solid #25231d;
  border-radius: 5px;
  padding: 10px;
}

.highlights-box p {
  background-color: #201e18;
}

.highlights-box :nth-child(2){
  color: #999896;
}

.highlights-box :nth-child(3){
  color: #999896;
  margin-top: 21px;
}

.more-posts-btn-box button {
  background-color: #1b1913;
  border: none;
  color: #f54e00;
  font-size: 16px;
  cursor: pointer;
}
